.header-box{
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: rgba(47,47,47,0.98);
}

.header-box .form-box{
  margin: 0 auto;
  width: 600px;
  line-height: 50px;
}

.header-box .form-box label{
  float: left;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.header-box .form-box .header-input{
  float: right;
  margin-top: 12px;
  width: 60%;
  height: 24px;
  text-indent: 10px;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 1px 0 rgba(255,255,255,0.24), 0 1px 6px rgba(0,0,0,0.45) inset;
}